<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

    <title>Administración de Facturas</title>

</head>

<body>

<h1>Administración de Facturas</h1>

<h2>Facturas registradas</h2>

<div th:if="${#lists.isEmpty(facturas)}">

    <p>
        No hay facturas registradas.
    </p>

</div>

<table
        border="1"
        th:if="${!#lists.isEmpty(facturas)}">

    <thead>

    <tr>

        <th>ID</th>

        <th>Número de factura</th>

        <th>Fecha</th>

        <th>Concepto</th>

        <th>Valor</th>

        <th>Empresa</th>

        <th>Proveedor</th>

        <th>Estado</th>

    </tr>

    </thead>

    <tbody>

    <tr th:each="factura : ${facturas}">

        <td
                th:text="${factura.id}">
        </td>

        <td
                th:text="${factura.numeroFactura}">
        </td>

        <td
                th:text="${factura.fecha}">
        </td>

        <td
                th:text="${factura.concepto}">
        </td>

        <td
                th:text="${factura.valor}">
        </td>

        <td
                th:text="${factura.empresa.nombre}">
        </td>

        <td
                th:text="${factura.proveedor.nombre
                        + ' '
                        + factura.proveedor.apellido}">
        </td>

        <td
                th:text="${factura.estado}">
        </td>

    </tr>

    </tbody>

</table>

<br>

<a th:href="@{/admin/facturas/nueva}">
    Registrar nueva factura
</a>

<br>
<br>

<a th:href="@{/admin/aprobaciones-facturas}">
    Ir a aprobación de facturas
</a>

<br>
<br>

<a th:href="@{/admin/validaciones-pago}">
    Ir a validación de pagos
</a>

<br>
<
