<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario</title>
</head>

<body>

<h1>Registro de Usuario</h1>

<form th:action="@{/registro}" th:object="${usuario}" method="post">

  <div>
    <label for="nombre">Nombre:</label>

    <input
            type="text"
            id="nombre"
            th:field="*{nombre}">

    <div th:if="${#fields.hasErrors('nombre')}"
         th:errors="*{nombre}">
    </div>
  </div>

  <br>

  <div>
    <label for="apellido">Apellido:</label>

    <input
            type="text"
            id="apellido"
            th:field="*{apellido}">

    <div th:if="${#fields.hasErrors('apellido')}"
         th:errors="*{apellido}">
    </div>
  </div>

  <br>

  <div>
    <label for="correo">Correo electrónico:</label>

    <input
            type="email"
            id="correo"
            th:field="*{correo}">

    <div th:if="${#fields.hasErrors('correo')}"
         th:errors="*{correo}">
    </div>

    <div th:if="${correoDuplicado}"
         th:text="${correoDuplicado}">
    </div>
  </div>

  <br>

  <div>
    <label for="password">Contraseña:</label>

    <input
            type="password"
            id="password"
            th:field="*{password}">

    <div th:if="${#fields.hasErrors('password')}"
         th:errors="*{password}">
    </div>
  </div>

  <br>

  <button type="submit">Registrarse</button>

</form>

</body>

</html>